.Index, .SpinnerIndexPage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Index{
    flex-direction: row;
    list-style: none;
    width: 100%;
}

.Link {
    padding: 16px;
    text-decoration: none;
}

.Link, .Link:visited{
    text-decoration: none;
    color: white;
}

.Link:hover{
    text-decoration-line: underline;
}

.ActualLink, .ActualLink:visited{
    color: rgb(40, 40, 255);
    text-decoration: none;
}

.SpinnerIndexPage {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    height: 100%;
}





