.Post {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.Article {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 16px 8px 16px 24px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Article:hover{
    background-color: #f3f2f2;
}



.borderBotton {
    content: '';
    border-bottom: 1px solid #ccc;
    padding-bottom: 0px;
    width: 100%;

}

.Post h2, .Hours{
    color: #333;
    font-size: 13px;
}



.Post span{
    font-size: 12px;
    padding-left: 8px;
    color: #999;
    display: flex;
    align-items: center;
}


.Hours {
    margin-left: auto;
    margin-right: 32px;
}


.SoftDeleteButton {
    margin: 0 16px 0 16px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    display: none;
}

.Article:hover .SoftDeleteButton{
    display: block;
}


